*{
    margin: 0;
}
.contacts{
    padding: 120px;
}
.contacts-top{
    text-align: center;
}
.contacts-top p{
    font-weight: 400;
    font-family: 'Shadows Into Light Two', handwriting;
    color: #e7272d;
    font-size: 30px;
    line-height: 1.6;
    letter-spacing: 1px;
}
.contacts-top h2{
    font-weight: 700;
    color: #000000;
    font-size: 55px;
    line-height: 1.2;
    letter-spacing: 0px;
}
.contacts-inner{
    display: flex;
    padding: ;
}
.contacts-message{
    width: calc(50% - 25px);
    margin-right: 30px;
    
}
.contacts-map{
    width: calc(50% - 25px);
    margin: ;
}
.contacts-message input{
    display: block;
    color: #888787;
    background-color: #efeded;
    font-style: normal;
    font-weight: 300;
    border-color: #efeded;
    border: 1px solid;
    padding: 7px 14px;
    font-size: 13px;
    line-height: 19px;
    width: 100%;
    border-color: transparent;
    margin-bottom: 15px;
    
}
.contacts-textarea{
    height: 100px;
}

.contacts-message a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 60px;
    padding: 20px 60px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    background-color: #e7272d;
    position: relative;
    min-width: 150px;
    width: 100%;
}
.contacts-message a:hover{
    background-color: #ffcc00;
    color: black;
    transition: .5s;
    cursor: pointer;
}